# Copyright 2019 Bilal Elmoussaoui <bil.elmoussaoui@gmail.com>
# Copyright 2022 Casper Meijn <casper@meijn.net>
#
# SPDX-License-Identifier: GPL-3.0-or-later

target/
build/
_build/
builddir/
build-aux/app
build-aux/.flatpak-builder/
src/config.rs
*.ui.in~
*.ui~
.flatpak/
vendor
