.title-label{
  font-size: 28px;
  font-weight: bold;
}
.articles-list {
  background-color: transparent;
}
.lg .articles-list {
  margin: 24px;
}
.md .articles-list{
  margin: 12px;
  margin: 12px;
}
.sm .articles-list{
  margin:6px;
}
.article-row {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid @borders;
  margin-bottom: 10px;
  color: @theme_fg_color;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  background: @theme_base_color;
}

.article-row:backdrop {
  box-shadow: inset 0 1px 2px transparent;
}

.article-row-title {
  font-weight:600;
  font-size:16px;
  padding-bottom: 3px;
}

.article-row-info {
  padding-bottom: 6px;
  font-size: 13px;
}

.article-row-content {
  font-size:14px;
}

.notification {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  padding: 6px 12px;
}

.head-title {
  font-size: 24px;
  font-weight: 600;
}

.loading-progress trough {
  background-color: transparent;
  border:0;
}


.login-form {
  border: 1px solid @borders;
  border-bottom-width: 0;
  color: @theme_fg_color;
  background-color: @theme_base_color;
}
.login-row {
  padding: 18px;
  border-bottom: 1px solid @borders;
}
