.title-label{
  font-size: 28px;
  font-weight: bold;
}

.lg .articles-list {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 24px;
	border-radius: 18px;
}
.sm .articles-list,
.md .articles-list {
  margin-top:0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

.article-row{
  padding:0;
  margin:0;
}

.article-row-title {
  font-weight:600;
  font-size: 20px;
}

.article-row-content {
  padding-left:6px;
  padding-bottom:6px;
  padding-right:6px;
}

